* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 2rem;
    --big-font: 1.5rem;
    --medium-font: 1rem;
    --small-font: 0.8rem;
    --main-background-color: rgba(0, 0, 0, 0.2);
}

body {
    margin: 20px auto;
    background-color: var(--main-background-color);
}

.container {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 40px;
    background-color: white;
    line-height: 1.5;
    max-width: 90%;
}

@media screen and (min-width: 1024px) {
    body {
        width: 1024px;
    }
}

.nav {
    list-style: none;
    padding: 20px 0px;
}

.center {
    text-align: center;
}

.nav a {
    text-decoration: none;
}

h1 {
    padding: 20px 0px;
    font-size: var(--big-font);
    background-color: var(--main-background-color);
    margin: 40px -50px;
}

img {
    max-width: 100%;
    display: block;
    margin: 40px auto;
}

.shadow-light {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1,
ul li a {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    padding: 15px;
    font-size: var(--medium-font);
    background-color: var(--main-background-color);
    margin: 20px auto;
}

p {
    padding: 0px 20px;
    font-size: var(--small-font);
}

ul,
ol {
    padding: 0px 60px;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animation {
    font-size: 50px;
    animation: rotate 2s linear 0s infinite;
}

ul li a {
    background-color: var(--main-background-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
}

.nav li {
    display: inline-block;
    margin: 25px 15px;
}

a:active {
    color: inherit;
}